[Desktop Entry]
Type=Application
Name=Penguindrop Server
Exec=sh -c "bash ~/.local/share/penguindrop/daemon.sh {{port_http}} {{port_ssh}}"
TryExec=/usr/bin/python3
X-GNOME-Autostart-enabled=true
